div {
    font-size: xx-large;
    width: 100px; 
    height: 100px; 
    margin: 5px; 
    border-style: solid; 
    text-align: center;
} 

.fail{
    background-color: red;
    color:white
} 

.win{
    background-color: green;
    color:white
}